h1, h2 {
  color: #fff;
  text-align: center;
}

h2 a{
  color: #fff;
}

div.comrade{
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

div.comrade-header > span {
  font-weight: bold;
  color: #fff;
  font-size: x-large;
}

div.comrade-image-container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 2px;
}

div.comrade-image-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.comrade-body p {
  color: #fff;
}

div.comrade-footer {
  text-align: right;
}
